<!DOCTYPE html>
<html>
  <head>
    <title>Tabela de retalhistas | IVM Manager</title>
    <meta
      name="description"
      content="Projeto de Bases de Dados (LEIC-A 2021/22) - Grupo 123"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Personal CSS-->
    <link rel="stylesheet" href="./static/custom.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./static/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./static/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="static/icons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./static/icons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
    <style>
      /* Hide Scrollbar */
      html {
        overflow-x: hidden;
      }
      /* Fonts */
      @font-face {
        font-family: "Klavika-Light";
        src: url("./static/fonts/klavika-light.otf");
      }
      .k-l {
        font-family: "Klavika-Light";
      }
      @font-face {
        font-family: "Klavika-Medium";
        src: url("./static/fonts/klavika-medium.otf");
      }
      .k-m {
        font-family: "Klavika-Medium";
      }
      @font-face {
        font-family: "Klavika-Medium-Italic";
        src: url("./static/fonts/klavika-medium-italic.otf");
      }
      .k-m-i {
        font-family: "Klavika-Medium-Italic";
      }
      a.btn-primary:link,
      a.btn-primary:visited {
        background-color: rgb(5, 161, 230) !important;
        border-color: #05a1e6 !important;
      }
      a.btn-primary:hover {
        background-color: #0480b8 !important;
        border-color: #0480b8 !important;
        box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.1) !important;
      }
      table {
        border-collapse: collapse;
        width: 40%;
      }
      td,
      th {
        text-align: left;
        padding: 5px;
        border-right: 1.5px solid rgb(255, 255, 255, 0.5);
      }
      tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.25);
      }
    </style>
    <!-- Vectors-->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="display: none"
    >
      <symbol id="left-arrow" viewBox="0 0 16 16">
        <path
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
        />
      </symbol>
      <symbol id="right-arrow" viewBox="0 0 16 16">
        <path
          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
        />
      </symbol>
      <symbol id="cross" viewBox="0 0 16 16">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </symbol>
      <symbol id="plus" viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </symbol>
      <symbol id="person" viewBox="0 0 16 16">
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
        />
      </symbol>
    </svg>
  </head>

  <!--##########################################################################################################################-->

  <body
    class="d-flex flex-column min-vh-100"
    background="./static/images/tecnico.png"
    style="color: rgb(255, 255, 255)"
  >
    <!-- Top row -->
    <div class="row" style="background-color: rgba(60, 60, 60, 0.8)">
      <div class="col-sm-4">
        <div class="d-flex justify-content-center">
          <img
            style="margin-top: 20px; margin-bottom: 20px"
            src="./static/images/tecnico.svg"
            alt="Instituto Superior Técnico"
            width="150"
          />
        </div>
      </div>
      <div class="col-sm-8">
        <div style="margin-left: 30px; margin-top: 17.5px; margin-bottom: 25px">
          <h3 class="k-m-i">IVM Manager</h3>
          <h4 class="k-l" style="line-height: 10px">
            Gestão de máquinas de venda inteligentes
          </h4>
        </div>
      </div>
    </div>

    <!-- Functionality -->
    <div class="text-center k-l">
      {% if cursor %}
      <div>
        <a href="../{{ FILENAME }}/" class="mt-4 btn btn-primary">
          <svg class="bi" width="24" height="24" fill="white">
            <use xlink:href="#left-arrow" />
          </svg>
        </a>
        <a href="#" class="mt-4 btn btn-primary disabled">
          Inserir e remover retalhistas
        </a>
        <a class="mt-4 btn disabled">
          <svg class="bi" width="24" height="24" fill="white">
            <use xlink:href="#right-arrow" />
          </svg>
        </a>
        <a href="#" class="mt-4 btn btn-primary disabled"
          >Tabela de retalhistas</a
        >
        <a href="retailer_independent" class="mt-4 btn btn-primary"
          >Inserir novo(a) retalhista</a
        >
      </div>

      <h3 class="mt-3 k-m" style="text-shadow: 2px 2px #0480b8">
        Tabela de retalhistas
      </h3>

      <table
        style="background-color: rgba(60, 60, 60, 0.8); margin: auto"
        class="mt-3 mb-5 k-l"
      >
        <thead>
          <tr style="background-color: rgba(255, 255, 255, 0.25)">
            <th><div class="ms-3 mt-2 mb-2">TIN</div></th>
            <th><div class="ms-3 mt-2 mb-2">Nome do retalhista</div></th>
            <th style="border-right: 0px; width: 100px">
              <div class="ms-3 mt-2 mb-2">Remover</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for record in cursor %}
          <tr>
            <td>
              <div class="d-flex">
                <div class="p-2 k-m">
                  <div
                    class="spinner-grow spinner-grow-sm text-success me-1"
                    style="
                      background-color: rgba(0, 255, 0, 0.5);
                      height: 10px;
                      width: 10px;
                      margin-bottom: 2px;
                    "
                  ></div>
                  {{ record[0] }}
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <div class="p-2 k-m">{{ record[1] }}</div>
              </div>
            </td>
            <td style="border-right: 0px">
              <div class="d-flex justify-content-center">
                <a
                  href="retailer_remove?r_tin={{ record[0] }}&r_name={{ record[1] }}"
                  class="btn btn-danger btn-sm"
                  style="width: 50px"
                >
                  <svg class="bi" width="20" height="20" fill="white">
                    <use xlink:href="#cross" />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3 class="mt-3 k-m" style="text-shadow: 2px 2px red">
        Erro: Não foi possível obter os dados da base de dados!
      </h3>
      {% endif %}
    </div>

    <!-- Bottom row -->
    <div class="row mt-auto" style="background-color: rgba(60, 60, 60, 0.8)">
      <div class="col-sm-5">
        <div
          class="k-m"
          style="margin-top: 30px; margin-bottom: 30px; margin-left: 30px"
        >
          <h5 class="k-m-i">Intelligent Vending Machine Manager™</h5>
          <h6 class="k-m">
            Projeto de Bases de Dados (LEIC-A 21/22) - Grupo 123
          </h6>
          <h6 class="k-l" style="color: rgb(170, 170, 170)">
            © Instituto Superior Técnico, 2022
          </h6>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <div
          class="k-m"
          style="margin-top: 30px; margin-bottom: 30px; margin-left: 30px"
        >
          <h5 class="k-m">Feito com 💙 por:</h5>
          <div class="k-m">
            <svg
              class="bi"
              width="20"
              height="20"
              fill="white"
              style="margin-right: 5px"
            >
              <use xlink:href="#person" /></svg
            >Inês Oliveira &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <svg
              class="bi"
              width="20"
              height="20"
              fill="white"
              style="margin-right: 5px"
            >
              <use xlink:href="#person" /></svg
            >João Cardoso &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <svg
              class="bi"
              width="20"
              height="20"
              fill="white"
              style="margin-right: 5px"
            >
              <use xlink:href="#person" /></svg
            >José João Ferreira
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
